<div class="container">
    <h1>BIENVENIDO AL E-COMMERCE</h1>
    <div class="auth-container">
        <h2>Login</h2>
        <form id="loginForm" action="/api/session/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="auth-button">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
    </div>

     <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            // Código del lado del cliente para enviar la solicitud al servidor
            fetch('/api/session/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Redirige a "/products" después de un inicio de sesión exitoso
                    window.location.href = '/products';

                    // Agrega la llamada fetch para obtener la información del usuario actual
                    fetch('http://localhost:8080/api/session/current', {
                        method: 'GET',
                        credentials: 'include',  // Incluye las cookies en la solicitud
                    })
                    .then(response => response.json())
                    .then(userData => {
                        console.log('Información del usuario actual:', userData);
                        // Puedes hacer algo con la información del usuario aquí si es necesario
                    })
                    .catch(error => console.error('Error al obtener la información del usuario actual:', error));
                } else {
                    console.error('Error:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</div>
