<div class="container">
    <h1>BIENVENIDO AL E-COMMERCE</h1>
    <div class="auth-container">
        <h1>Register</h1>
        <form id="registerForm" action="/api/session/register" method="POST">

            <label for="first_name">Nombre:</label>
            <input type="text" id="first_name" name="first_name" >

            <label for="last_name">Apellido:</label>
            <input type="text" id="last_name" name="last_name" >

            <label for="age">Edad:</label>
            <input type="number" id="age" name="age" >

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" >

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" >

            <label for="confirmPassword">Confirma el Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword">

            <div class="radio-container">
                <label for="role">Rol:</label>
                <label class='radio-label' for="userRole">Usuario</label>
                <input type="radio" id="userRole" name="role" value="user" checked>

                <label class='radio-label' for="adminRole">Admin</label>
                <input type="radio" id="adminRole" name="role" value="admin">
            </div>

            <button type="submit">Registrate</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Login</a></p>
    </div>
</div>
<script>
document.getElementById('registerForm').addEventListener('submit', function (event) {
    event.preventDefault();

    const first_name = document.getElementById('first_name').value;
    const last_name = document.getElementById('last_name').value;
    const age = document.getElementById('age').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    const role = document.querySelector('input[name="role"]:checked').value;

    //Realiza la solicitud de registro al servidor
    fetch('/api/session/register', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ first_name, last_name, age, email, password, confirmPassword, role }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {

            window.location.href = data.redirectUrl;
        } else {
            console.error('Error:', data.error);
        }
    })
    .catch(error => console.error('Error:', error));
});
</script>