<div class="container">
    <h1>BIENVENIDO AL E-COMMERCE</h1>
    <div class="auth-container">
        <h1>Register</h1>
        <form id="registerForm" action="/api/session/register" method="POST">

            <label for="first_name">Nombre:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">Apellido:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Confirma el Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <div class="radio-container">
                <label for="role">Rol:</label>
                <label class='radio-label' for="userRole">Usuario</label>
                <input type="radio" id="userRole" name="role" value="usuario" checked>

                <label class='radio-label' for="adminRole">Admin</label>
                <input type="radio" id="adminRole" name="role" value="admin">
            </div>

            <button type="submit">Registrate</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Login</a></p>
    </div>
</div>