*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(149, 255, 255);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

li strong{
    font-weight: bold
}

p{
    font-weight: bold;
    font-size: 25px;
    color: black;
}

p strong{
    font-weight: bold;
    color: blue;
    font-size: 20px;
}


#logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bb1010; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }

  #logout-btn:hover {
    background-color: #a10000;
  }


#chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 232, 127); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#message-list {
    list-style-type: none;
    padding: 0;
}


#message-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
}


#message-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#user-input,
#message-input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#send-button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #45a049;
}

#products-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1310bb; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #products-btn:hover {
    background-color: #0f0d89;
  }

  .navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .nav-links button:hover {
    background-color: #003580;
  }
  
  .logo{
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
  }

  a:hover{
    color: black;
  }
  
  
  
  
  
