*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(149, 255, 255);
  }
  
  h1 {
    color: #001ac3;
  }

  h2{
    color: black;
    font-size: 35px;
  }

  p{
    font-weight: bold;
    font-size: 20px;
    color: #001ac3;
  }

  p span{
    font-weight: bolder;
    font-size: 15px;
    color: #001074
  }

  strong{
    color: black;
  }

  a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
  }

  a:hover{
    color: black;
  }
  
  .container{
    display: flex;
    margin: 10px;
  }

  .product-container {
    flex: 1;
  }

  #logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bb1010; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #logout-btn:hover {
    background-color: #a10000;
  }

  #chat-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1310bb; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #chat-btn:hover {
    background-color: #0f0d89;
  }

  #role-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #10bb4f; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #role-btn:hover {
    background-color: #0a7732;
  }

  #manager-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b8bb10; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #manager-btn:hover {
    background-color: #787a0b;
  }

  .purchase-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0db34d; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
    cursor: pointer;
  }

  .purchase-btn:hover{
    background-color: #12dd60; 
  }
  
  .products ul {
    list-style-type: none;
    padding: 0;
  }
  
  .products-item {
    border: 3px solid #000000;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  
  .products strong {
    color: #004ea1;
  }
  
  .thumbnails li {
    width: 105px;
  }
  
  .image {
    max-width: 100px;
    height: auto;
    border: 3px solid #000000;
    background-color: white;
  }

  .product-card {
    border: 3px solid #000000;
    background-color: rgb(255, 232, 127);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  
  .add-to-cart-btn:hover {
    background-color: #45a049;
  }
  
/*CARRITO*/
.cart {
  border: 3px solid #000000;
  background-color: rgb(255, 232, 127);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  flex: 0 0 30%;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  list-style-type: none; 
  margin-bottom: 10px;
  padding: 10px; 
  border: 1px solid #000000; 
  background-color: #ffca67;
}

.remove-from-cart-btn, .clear-cart-btn {
  background-color: #bb1010;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-from-cart-btn:hover, .clear-cart-btn:hover {
  background-color: #cc0000;
}

.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.nav-links button:hover {
  background-color: #003580;
}

.logo{
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.container{
  padding: 10px;
}





