*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: aqua;
  }
  
  h1 {
    color: #bb1010;
    text-align: center;
  }

  h2{
    text-align: center;
  }

  p{
    font-weight: bold;
    font-size: 20px;
    color: #001ac3;
  }



  span{
    font-weight: bolder;
    font-size: 20px;
    color: #001074
  }

  a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
  }

  a:hover{
    color: black;
  }

  #logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bb1010; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #logout-btn:hover {
    background-color: #a10000;
  }

  #products-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #10bb4f; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #products-btn:hover {
    background-color: #0a7732;
  }


  
  .products ul {
    list-style-type: none;
    padding: 0;
    display: inline;
    vertical-align: top;
  }
  
.page-container{
    display: flex;
    justify-content: space-between;
}
  
  .products strong {
    color: #004ea1;
  }
  
  .thumbnails li {
    width: 105px;
  }
  
  .image {
    max-width: 100px;
    height: auto;
    border: 3px solid #000000;
    background-color: white;
  }

  .product-card {
    border: 3px solid #000000;
    background-color: rgb(255, 232, 127);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }


/* FORMULARIOS */
form {
    max-width: 400px;
    margin: 20px 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  form label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
 
  #deleteProductForm {
    background-color: #f2dede;
  }
  
  #createProductForm {
    background-color: #d9edf7;
  }

  #updateProductForm{
    background-color: #d9f7e7;
  }

  .navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .nav-links button:hover {
    background-color: #003580;
  }
  
  .logo{
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  
  .container{
    padding: 10px;
  }
  
  
  
  