*{
  margin: 0;
}
body {
    font-family: Arial, sans-serif;

    background-color: aqua;
  }
  
  h1 {
    color: #bb1010;
    text-align: center;
  }

  h2{
    text-align: center;
  }

  p{
    font-weight: bold;
    font-size: 20px;
    color: #001ac3;
  }

  a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
  }

  a:hover{
    color: black;
  }


  span{
    font-weight: bolder;
    font-size: 25px;
    color: #001074
  }

  .forms-container{
    display: flex;
    justify-content: space-between;
  }

  #logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bb1010; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }

  #logout-btn:hover {
    background-color: #a10000;
  }

  #status {
    color: blue;
    font-size: 25px;
  }

  #update-role-btn, #upload-documents-btn, #upload-profile-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e10bb; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
    cursor: pointer;
  }
  
  #update-role-form, #upload-documents-form, #upload-profile-form{
    display: block;
    max-width: 500px;
    padding: 10px 20px;
    background-color: rgb(255, 232, 127); 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    margin: 10px;
  }

  #update-role-btn:hover, #upload-documents-btn:hover, #upload-profile-btn:hover {
    background-color: #280c74;
  }
  
  #role-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #10bb4f; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #role-btn:hover {
    background-color: #0a7732;
  }

  .radio-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  
  .radio-label{
    margin-left: 5px;
  }
  
  input[type="radio"] {
    margin-right: 10px; 
    color: black;
  }

  /* Estilo para los labels */
label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
  font-size: 25px;
  color: black;
}


input[type="file"] {
  display: block; 
  margin-bottom: 10px; 
  color: black;
}


input[type="file"]:focus {
  outline: 2px solid #007bff;
}

.avatar-img {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-avatar {
  margin-right: 20px;
}

.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.nav-links button:hover {
  background-color: #003580;
}

.logo{
  color: white;
  font-weight: bold;
  font-size: 30px;
}




