body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: aqua;
  }
  
  h1 {
    color: #bb1010;
    text-align: center;
  }

  h2{
    text-align: center;
  }

  p{
    font-weight: bold;
    font-size: 20px;
    color: #001ac3;
  }



  span{
    font-weight: bolder;
    font-size: 25px;
    color: #001074
  }

  .forms-container{
    display: flex;
    justify-content: space-between;
  }

  #logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bb1010; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }

  #status {
    color: blue;
    font-size: 25px;
  }
  

  #logout-btn:hover {
    background-color: #cc0000;
  }

  #update-role-btn, #upload-documents-btn, #upload-profile-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e10bb; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  
  #update-role-form, #upload-documents-form, #upload-profile-form{
    display: block;
    max-width: 500px;
    padding: 10px 20px;
    background-color: #1ac584; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    margin: 10px;
  }

  #update-role-btn:hover {
    background-color: #280c74;
  }
  
  #role-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #10bb4f; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px; 
    border: solid 3px black;
    transition: background-color 0.3s ease; 
  }
  

  #role-btn:hover {
    background-color: #0a7732;
  }

  .radio-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  
  .radio-label{
    margin-left: 5px;
  }
  
  input[type="radio"] {
    margin-right: 10px; 
  }

  /* Estilo para los labels */
label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
  font-size: 25px;
}


input[type="file"] {
  display: block; 
  margin-bottom: 10px; 
}


input[type="file"]:focus {
  outline: 2px solid #007bff;
}

.avatar-img {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 20px;
}



