body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #bb1010;
  }
  
  .products ul {
    list-style-type: none;
    padding: 0;
  }
  
  .products-item {
    border: 3px solid #000000;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  
  .products strong {
    color: #004ea1;
  }
  
  .thumbnails li {
    width: 105px;
  }
  
  .image {
    max-width: 100px;
    height: auto;
    border: 3px solid #000000;
  }
  
  